{% extends 'base.html' %}
{% block content %}
    <section id="boletin">
        <div class="contenedor">
            <h1> Tienda</h1>
        </div>
    </section>

    <div class="frente" id="frente">
		<div class="cabe">
			<h1 class="logo">Promociones</h1>
			<p class="mensaj">Aprovecha estos increibles descuentos</p>
		</div>

		<div id="cuenta">

        </div>
        <main class="contenedor2">
            <p>Al finalizar el contador no podrás acceder a los descuentos, para volver a la tienda <a href="{% url 'home'%}">haga clic a aquí</a></p>
        </main>

		
	</div>


    <div class="separadores">
        <h2> Productos </h2>
    </div>

    <section id="cajas">
        <div class="contenedor">
            <div class="caja">
                <img src="imagenes/img2.jpg" alt="">
                <h3>Celulares</h3>
                <p>25% de descuento </p>
                
            </div>
            <div class="caja">
                <img src="imagenes/img3.jpg" alt="">
                <h3>Audífonos</h3>
                <p>25% de descuento </p>
                
            </div>
            <div class="caja">
                <img src="imagenes/img4.jpg" alt="">
                <h3>Mouse</h3>
                <p>25% de descuento </p>
                
            </div>
        </div>
    </section>

    <section id="cajas">
        <div class="contenedor">
            <div class="caja">
                <img src="imagenes/img5.jpg" alt="">
                <h3>Monitores</h3>
                <p>10% de descuento </p>
                
            </div>
            <div class="caja">
                <img src="imagenes/img6.jpg" alt="">
                <h3>Teclados</h3>
                <p>10% de descuento </p>
                
            </div>
            <div class="caja">
                <img src="imagenes/img7.jpg" alt="">
                <h3>Cámaras</h3>
                <p>10% de descuento </p>
                
            </div>
        </div>
    </section>

    <div class="separadores">
        <h2> Marcas </h2>
    </div>

    <section id="cajas">
        <div class="contenedor">
            <div class="caja">
                <img src="imagenes/huawei2.jpg" alt="">
                
                
            </div>
            <div class="caja">
                <img src="imagenes/sansung.png" alt="">
                
                
            </div>
            <div class="caja">
                <img src="imagenes/xiaomi.png" alt="">
                
                
            </div>
        </div>
    </section>
   
{% endblock %}