{% extends 'base.html' %}
{% block content %}

<div class="container p-5">
  <div class="row pt-5">
      <h3 class="text-center pb-5 pt-5 h1">Detalles del producto</h3>
  </div>
</div>
<div class="row p-5">
  <div class="col-sm">
      <div class="card w-100 det-color mb-5 text-center">
          <img src="{{ producto.imagen.url }}" class="card-img-top" alt="texto">
          <div class="card-body">
          </div>
      </div>
  </div>
  <div class="col-sm">
      <div class="card w-100 card-border1 mb-5 ">
          <div class="card-body">
              <h5 class="card-title">{{producto.nombre}}</h5>
              <p class="card-text">{{producto.descripcion}}</p>
              <p class="card-text">${{producto.precio}}/{{producto.unidad}}</p>
              {% if user.id is None %}
              <a href="{% url 'registro'%}" class="btn btn-color">Registrate para comprar</a>
              {% else %}
              <a href="{% url 'carrito' producto.id %}" class="btn btn-color">Añadir al carrito</a>
              {% endif %}

          </div>
      </div>
  </div>
</div>

{% endblock %}