{% extends 'base.html'%}
{% load static %}
{% block content %}
    <!--Inicio--Main-->
    <div class="carousel slide" data-ride="carousel" data-interval="3000" id="imgload">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/img1.jpg'%}" alt="img" class="img-fluid">
                <div class="carousel-caption text-center ">
                    <h1 class="display-4 shadow-lg">Bienvenidos a MundoTech</h1>
                    <h3>Apasionados por la tecnología </h3>
                    

                </div>

            </div>

            <div class="carousel-item">
                <img src="{% static 'images/carru1.jpg'%}" alt="img" class="img-fluid">

            </div>
            <div class="carousel-item">
                <img src="{% static 'images/carru2.jpg'%}" alt="img" class="img-fluid">

            </div>
            <a href="#imgload" class="carousel-control-prev" data-slide="prev"><Span
                class="carousel-control-prev-icon"></Span></a>
            <a href="#imgload" class="carousel-control-next" data-slide="next"><Span
                class="carousel-control-next-icon"></Span></a>




        </div>
    </div>

    <section id="card1" class="padding">
        <div class="card-columns row container-fluid">
            <div class="row">
            <div class="card col-md-6 col-sm-6 col-lg-3 ">
                <h4 class="card-title"></h4>

                <div class="card-body mb-4 ">
                    <img src="{% static 'images/raton.png'%}" alt="img" class="card-img mb-2 img-fluid">


                </div>
                <div class="card-footer">
                    

                </div>


            </div>
            

            <div class="card col-md-6 col-sm-6 col-lg-3 ">
                

                <div class="card-body">
                    <img src="{% static 'images/monitor.png'%}" alt="img" class="card-img mb-2 img-fluid">
                    
                </div>
                <div class="card-footer">
                    

                </div>

            </div>
            <div class="card col-md-6 col-sm-6 col-lg-3  ">
                <h4 class="card-title"></h4>
                <div class="card-body">
            
                    <img src="{% static 'images/audifonos-inalambricos.png'%}" alt="img" class="card-img mb-2 img-fluid">
                    
                </div>
                <div class="card-footer">
                    


                </div>

            </div>
            <div class="card col-md-6 col-sm-6 col-lg-3 text-center">

                <h3 class="display-6 mb-4">Inicia sesión para tener una mejor experiencia </h3>
                {% if user.id is None %}
                <button class="card-link shadow-lg btn btn-warning text-light" style="width:100%;" data-toggle="modal"
                data-target="#modal1"><a href="{% url 'login'%}"card-link shadow-lg btn btn-warning text-light" style="width:100%;" data-toggle="modal"
                
                
                data-target="#modal1">Ingresar</a></button>
                    
                    {% else %}
                    <h1>Gracias por ingresar</h1>
                    {% endif %}
                
                
                

                <div class="modal fade shadow-lg " id="modal1">
                    <div class="modal-dialog  ">
                        <div class="modal-content">
                            <div class="modal-body">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h5 class="text-center ">Sign Up for W3Life</h5>

                                <form action="" class="form-inline justify-content-center was-validated   ">


                                    <div class="form-group">
                                        <label for="fname" class="m-3">First Name: </label>
                                        <input type="text" name="fname" id="fname" class="form-control form-control-sm"
                                            placeholder="Enter username" required>
                                        <span class="valid-feedback">Input Valid</span>
                                        <span class="invalid-feedback">Please Input username</span>

                                    </div>
                                    <div class="form-group">
                                        <label for="lname" class=" m-3">Last Name: </label>
                                        <input type="text" name="lname" id="lname" class="form-control  form-control-sm"
                                            placeholder="Enter username" required>
                                        <span class="valid-feedback">Input Valid</span>
                                        <span class="invalid-feedback">Please Input username</span>

                                    </div>

                                    <div class="form-group">
                                        <label for="pass" class=" m-3">Password: </label>
                                        <input type="password" name="pass" id="pass"
                                            class="form-control  form-control-sm" placeholder="Password" required>
                                        <span class="valid-feedback">Input Valid</span>
                                        <span class="invalid-feedback">Please Input username</span>

                                    </div>

                                    <div class=" form-group">

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" name="check" id="check" class="custom-control-input">
                                            <label for="check" class="custom-control-label m-4">I Accept bla bla</label>

                                        </div>
                                    </div>


                                    <button type="submit" class="btn btn-success">Submit</button>



                                </form>

                                <button type="button" data-dismiss="modal"
                                    class=" close btn btn-success btn-sm ">Close</button>


                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
        </div>

    </section>
    <!----Two column section----->

    <section id="twocolumn" class="padding">

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">

                    <img src="{% static 'images/airPods.png'%}" alt="img" class="img-fluid mx-auto d-block">


                </div>
                <div class="col-xs-12 col-sm-6 text-center">

                    <h3 class="mb-4">AirPods</h3>
                    <p class="lead ">Luego de configurarlos con un simple toque, los AirPods se activan automáticamente y se mantienen siempre conectados.* También reconocen cuando están en tus oídos y ponen en pausa lo que estás escuchando cuando te los quitas. *Requiere una cuenta de iCloud y macOS 10.14.4, iOS 12.2, iPadOS, watchOS 5.2 o tvOS 13.2 o posterior.</p>

                    





                </div>

            </div>

        </div>




    </section>

{% endblock %}
    