{% extends 'base.html'%}
{% load static %}
{% block content %}
<section id="contact" class="padding">

    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <h4 class="display-4 text-center">Contact With US</h4>
                <hr class="my-4">

            </div>


            <div class="col-xs-12 col-md-6 " id="contact" class="one">


                <div class="col-md-6 col-sm-12 pad">
                    <h3>Misión</h3>
                    <p>Trabajamos para ofrecerle a nuestros clientes los mejores productos y precios, con cuotas claras, para atenderlos en forma especializada y ser destino de sus compras.
                    </p>

                    <h3>Visión</h3>
                    <p>
                        Queremos ser reconocidos como una compañia cercana al cliente, con un crédito transparente, amplio portafolio de productos y servicios.
                    </p>


                    

                </div>





            </div>



            <div class="col-xs-12 col-md-6" id="contact" class="two">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d115806.34359550575!2d91.79094155131145!3d24.899747201107232!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x375054d3d270329f%3A0xf58ef93431f67382!2sSylhet!5e0!3m2!1sen!2sbd!4v1516883061409"
                    width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>

            </div>
    {% endblock %}