{% load static %}
<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="#">
                    <img src="{% static 'images/logo.png'%}">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>SOBRE NOSOTROS</h2>
            <p>Somos una empresa dedicada a la comercialización de productos tecnológicos con el fin de ayudar a crear un mundo modernizado </p>
            <p>Gracias por visitarnos</p>
        </div>
        <div class="box">
            <h2>SÍGUENOS</h2>
            <div class="red-social">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-youtube"></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>MundoTech, Copyright &copy; 2022</small>
    </div>
</footer>